@import '../../_variables.scss';

//////////////////////////////////////////////////////////////////////////////////////////////
// MOBILE

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1rem 0.2rem 1rem;
  font-size: 0.88em;
  font-weight: 200;
}

.info {
  text-align: center;
}

.infoSpan {
  display: block;
}

.copyBtn {
  margin-left: 0.7rem;
  border: none;
  content: 'Copy Email';
  background-color: transparent;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 0.95em;
  color: $text-light;
  cursor: pointer;

  .copyIcon {
    margin-left: 0.15rem;
    font-size: 1em;
  }

  &:hover {
    text-decoration: underline;
  }
}

.copyBtnSuccess {
  content: 'Email Copied';
}

.copyBtnFail {
  content: 'Error.Copy Email manualy';
}

.link {
  font-weight: 300;
  color: $text-light;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////
// MOBILE - HORIZONTAL
@media screen and (max-height: 567px) {
  .footerContainer {
    padding: 4rem 3rem 0.2rem 3rem;
  }

  .infoSpan {
    display: initial;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////
// TABLET
@media screen and (min-height: 568px) and (min-width: 613px) {
  .infoSpan {
    display: inline;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////
// DESKTOP + IPAD PRO HORIZONTAL
@media screen and (min-height: 568px) and (min-width: 1025px) {
  .footerContainer {
    padding: 10vmin 1rem 0.2rem 1rem;
  }

  .copyBtn {
    &:active {
      transform: scale(0.94);
    }
  }

  .link {
    &:active {
      transform: scale(0.94);
    }
  }
}